html {
  background-color: #d5d5d5;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  text-align: left;
}

h1{
  font-weight: normal;
  font-size: 5rem;
  font-style: none;
  text-decoration: underline;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: white;
}

h2{
  font-weight: normal;
  font-size: 2rem;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: #b2b2b3;
}

ol {
  list-style-type: lower-roman;
  padding: 1;
  line-height: 1.5;
  font-size: 1rem;
}

nav {
  list-style-type: none;
  padding: 1;
}

blockquote{
  font-size: 1.5rem;
  color: white;
}

figcaption{
  font-size:1.5;
  font-style: italic;
}

dl{
  line-height: 1.5;
}

a {
  color: #898989;
}

a:hover {
  color: black
}
